<template>
	<article>
		<header>
			<h2><!-- Title --></h2>
			<p><!-- Summary --></p>
		</header>
		<section>
			<h3><!-- Images --></h3>
		</section>
		<section>
			<h3><!-- Description --></h3>
			<p></p>
		</section>
		<footer>
			<span><!-- Price --></span>
			<button>Buy now!</button>
		</footer>
	</article>
</template>