style.
    tc-button,
    span {
        padding: 0 .5rem;
    }
    button :active {
        background: #ad3d55;
        color: white;
    }

.wrapper
    tc-button.increment(type="button") +
    span
    tc-button.decrement(type="button") -