style.
    tc-layout {
        display: block;
    }
    .layout {
        min-height: 100%;
    }
    header, footer {
        display: block;
        flex: 0 1 80px;
        height: 80px;
        background : darkgray;
        color: white;
        padding: 5px;
    }
    #content {
        height: 100%;
        display: block;
        flex: 12 12 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    aside {
        display: block;
        width : 320px;
        background-color : lightgray;
        padding: 5px;
    }
    main {
        display: block;
        flex: 1 1 100%;
        padding: 5px;
    }
.layout
    header
        slot(name='header')
            h1 Fallback header
    #content
        aside
            slot(name='aside')
        main
            slot
    footer
        slot(name='footer')
