style.
    :host {
        display: block;
    }
    .product footer {
        display: flex;
        backgound: darkgrey;
    }


article.product
    header
        img
        h2
    main
        p Brand new product
    footer
        tc-counter
        tc-button Buy now!
        slot(name='footer')
