style.
    .showcase {
        background: white;
        min-height: 80px;
    }
    ul {
        display: flex;
        padding : 5px;
        margin: 0;
    }
    li {
        margin: 0;
        padding: 0 3px;
        list-style: none;
    }
.showcase
    ul
        li
            slot No product found

